---
CompileFlags:
  Add:
    - -xc
    - -Wall
    - -Wextra
    - -Werror
    - -pedantic
    - -std=c11
    - -I./include
    - -I./deps/sokol
    - -I./deps/sokol_gp
    - -I./deps/blibs
    - -I./deps/physfs/src
    - -I./deps/chibihash
    - -I./deps/termbox2
    - -I./deps/utf8proc
    - -I./deps/bestline
    - -DSOKOL_GLCORE
    - -D_DEBUG
