[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/sokol_gp"]
	path = deps/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "deps/blibs"]
	path = deps/blibs
	url = https://github.com/bullno1/libs.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/icculus/physfs.git
[submodule "deps/chibihash"]
	path = deps/chibihash
	url = https://github.com/N-R-K/ChibiHash.git
[submodule "deps/termbox2"]
	path = deps/termbox2
	url = https://github.com/termbox/termbox2.git
[submodule "deps/utf8proc"]
	path = deps/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
