[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol.git
[submodule "deps/sokol_gp"]
	path = deps/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
[submodule "deps/blibs"]
	path = deps/blibs
	url = https://github.com/bullno1/libs.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/icculus/physfs.git
