#include <xincbin.h>

XINCBIN(acid_tal, "tests/acid.tal")
XINCBIN(opctest_tal, "tests/opctest.tal")
XINCBIN(door_tal, "tests/door.tal")
XINCBIN(object_tal, "tests/object.tal")
XINCBIN(vector_tal, "tests/vector.tal")
